---
import Coffeeroasters from "@icons/Coffeeroasters.astro";


---

<header class="px-5 lg:px-10 my-6 py-5">
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    <a href="#">
      <Coffeeroasters />
    </a>

    <nav class="text-dark">
      <ul class="flex items-center gap-8">
        <li>
          <a href="#">
            <span class="uppercase text-xs font-bold tracking-widest">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="uppercase text-xs font-bold tracking-widest">About</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="uppercase text-xs font-bold tracking-widest">Create Your Plan</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>